*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1300px;
    margin: 0 auto;
    border: 1px solid rgb(172, 170, 170);
    overflow-x: hidden;
}

.navbar{
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.nav-left-section{
    display: flex;
}
.image-1{
    margin-left: 24px;
    height: 40px;
}
.nav-head{
    font-size: 25px;
    margin-top: 5px;
    margin-left: 2px;
    color:rgb(127, 125, 125)
}
.heading1{
    font-weight: 800;
    color: rgb(69, 68, 68);
}

ul{
    display: flex;
    list-style: none;
    margin-right: 24px;
    gap: 16px;
    font-size: 20px;
    font-weight:normal;
    color: rgb(81, 79, 79);
}
.main-section{
    height: 618px;
    width: 100%;
    background-color: rgb(218, 217, 217);
    display: flex;
    align-items: center;
   
}
.banner1{
    width: 90%;
    height: 545px;
    margin: 38px 24px;
}
.main-text-part{
    margin-left: 1px;
    margin-top:60px;
    color:  rgb(56, 55, 55);
}
.main-h1{
    font-size: 55px;
    margin-top: -110px;
    font-weight: 800;
}
.main-h3{
    font-size: 25px;
    line-height: 32px;
    margin-top: 30px;
    font-weight: 800;
}
.main-button{
     padding: 10px;
     width: 90%;
     height: 50px;
     margin-top: 38px;
     font-size: 20px;
     background-color: rgb(56, 55, 55);
     color: white;
}

.third-part{
    display: flex;
}
.third-left-section{
    margin-right: 24px;
}
.third-part-1{
    width: 100%;
    height: 400px;
    margin: 38px 24px;
}
.third-h2{
   margin-top: -6px; 
   margin-left: 24px ;
   font-size: 38px;
   font-weight: 1000;
}
.third-pp{
   padding: 28px;
   font-size: 18px;
   line-height: 1.5;
   color: rgba(107, 106, 106, 0.797);
   font-weight: 500;
}
.third-com{
    margin-left: 23px;
    margin-bottom: 15px;
    color: grey;
}
.third-right-section{
    border: 1px solid rgb(227, 224, 224); 
}

.third-card1{
    display: flex;
    width: 560px;
    margin-top: 25px;
    margin-left: 2px;
    height: 200px;
    margin-bottom: -22px;
    border: 1px solid rgb(227, 224, 224);   
}
.third-part-img1{
    width: 177px;
    height: 10.5em;
    margin: 10px;
    margin-left: 18px; 
}

.third-part-img2{
    width: 174px;
    height: 10.5em;
    margin: 10px;
    margin-left: 18px; 
}

.third-part-img3{
    width: 174px;
    height: 10.5em;
    margin: 10px;
    margin-left: 18px; 
}

.third-text-part{
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    justify-content: center;
    
}

.third-right-section{
    margin-left: 30px;
}

.third-part-h3{
   font-size: 28px;
   color:  rgb(70, 69, 69);
}
.third-part-para{
    font-size: 19px;
    margin-top: 8px;
    color: grey;
}
.third-part-link{
    margin-top: 9px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(99, 191, 240);
    font-weight: 400;
}
#grayzz{
    background-color: rgb(218, 217, 217);
    
}
.third-part{
    background-color: rgb(244, 244, 244)
}
.card-main-heading{
    text-align: center;
    font-size: 44px;
    padding: 18px;
    font-weight: bold;
}
.card-section1{
    display: flex;
    gap: 15px;
    
    justify-content: center;
    margin-top: 20px;
   
}
.card-section2{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.card-imgs{
    width: 100%;
}
.card-h{
    padding: 17px;
    font-size: 23px;
}
.card-parag{
    width: 80%;
    margin-left: 17px;
    line-height: 1.4;
    font-size: 17px;
    color: gray;
}
.first-card{
    border: 1px solid gray;
    width: 300px;
    height: 360px;
    background-color: white;
}
.learning-section{
    background-color: rgb(230, 227, 227);
    height: 900px;
}
.thesis-first-part{
    display: flex;
}
.video-thesis{
    margin: 26px;
    width: 60%;
}
.img-section-right{
    display: flex;
    margin-top: 25px;
    border: 1px solid rgb(227, 226, 226);
    background-color: rgb(234, 235, 237);
    width: 120%;
    
}
.new-1{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.new-2{
    display: flex;
    width: 120%;
}

.thesis-imgs{
    width: 150px;
    padding: 15px;
}
.thesis-h3{
    margin-top: 25px;
    margin-left: 20px;
    width: 200px;
}
.thesis-para{
    margin-left: 20px;
    width: 180px;
    margin-top: 15px;
    color: gray;
}
.the-hh{
    margin-left: 26px;
    margin-top: 10px;
}
.the-pp{
    margin-left: 26px;
    margin-top: 7px;
    line-height: 1.5;
    width: 60%;
    color: gray;
}
.line{
    width: 100%;
    margin-top: 35px;
    background-color: gray;
    height: 1px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin: 20px 26px;
    margin-bottom: 50px;
}
.footer-p{
    color: gray;
}
